@keyframes date-picker-open {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes date-picker-close {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
}
.date-picker {
  position: relative;
  display: inline-block;
  user-select: none;
}
.date-picker-input {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 10px;
  height: 40px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none;
}
.date-picker-input:active,
.date-picker-input:hover,
.date-picker-input:focus {
  border-color: #31c27c;
  outline: none;
  box-shadow: 0 0 0 2px rgba(49, 194, 124, 0.2);
}
.date-picker-input-disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.date-picker-input-disabled:active,
.date-picker-input-disabled:hover,
.date-picker-input-disabled:focus {
  border-color: #e8e8e8;
  outline: none;
  box-shadow: none;
}
.date-picker-input-wrapper {
  position: relative;
  display: inline-block;
  width: 322px;
  user-select: none;
}
.date-picker-input-suffix {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
}
.date-picker-inner {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.date-picker-no-animate {
  animation: none !important;
}
.date-picker-open {
  animation: date-picker-open 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.date-picker-close {
  animation: date-picker-close 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  pointer-events: none;
}
.date-picker-panel {
  width: 322px;
  height: auto;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 5px;
  transform: scale(0);
  background: #fff;
  border: 1px solid #e8e8e8;
  z-index: 88;
  box-shadow: 0 4px 22px 0 rgba(15, 35, 95, 0.12);
  padding: 15px 20px;
  border-radius: 4px;
}
.date-picker-panel-header {
  margin-left: 12px;
  margin-bottom: 28px;
  color: #31c27c;
  font-weight: bold;
}
.date-picker-panel-header-selected-date {
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 10px;
  font-weight: bold;
  user-select: none;
}
.date-picker-panel-header-switch {
  float: right;
}
.date-picker-panel-header-switch-group {
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background-color: #fafafa;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.date-picker-panel-header-switch-group:hover {
  background-color: #31c27c;
  border-color: #31c27c;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.date-picker-panel-header-date {
  user-select: none;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin: 0 4px 4px 0;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.date-picker-panel-header-date:not(.date-picker-day-title):not(.date-picker-last-month):not(.date-picker-next-month):not(.date-picker-disabled-date):hover {
  border: 1px solid #31c27c;
}
.date-picker-panel-content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.date-picker-panel-content-header-day {
  user-select: none;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50% !important;
  margin: 0 4px 4px 0;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: rgba(0, 0, 0, 0.65);
  opacity: 0.65;
  cursor: text !important;
}
.date-picker-panel-content-date {
  user-select: none;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50% !important;
  margin: 0 4px 4px 0;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.date-picker-panel-content-prev-month,
.date-picker-panel-content-next-month {
  color: rgba(0, 0, 0, 0.25);
}
.date-picker-panel-footer {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.date-picker-panel-footer-today,
.date-picker-panel-footer-clear {
  cursor: pointer;
  user-select: none;
}
.date-picker-panel-footer-today {
  color: #31c27c;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.date-picker-panel-footer-today:hover {
  color: #53d395;
}
.date-picker-panel-footer-clear {
  color: #31c27c;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-left: 10px;
}
.date-picker-panel-footer-clear:hover {
  color: #53d395;
}
.date-picker-button {
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.date-picker-button-icon {
  color: #31c27c;
}
.date-picker-current-month {
  border: 1px solid transparent;
  border-radius: 4px;
}
.date-picker-selected-date {
  border-color: #31c27c;
  background-color: #31c27c;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
